<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- datasource -->	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/> 
		<property name="url" value="jdbc:oracle:thin:@172.16.3.9:1521:xe"/> 
		<property name="username" value="snookums"/> 
		<property name="password" value="1234"/> 
		<property name="initialSize" value="5"/> 
		<property name="maxIdle" value="5"/> 
		
	</bean>	
		
</beans>
